@import '../../base/base';

.task-container{
    @include flex(row, center, space-between);
    border: 1px solid $border;
    border-radius: 5px;
    background-color: $elementPurple;
    height: 70px;
    width: 500px;
    margin-bottom: 10px;
    padding-left: 10px;
    span{
        color: white;
        font-size: 20px;
    }
}

@media only screen and (min-width: $mobileBp) and (max-width: $tabletBp) {
    .task-container{width: 400px;}
}
@media only screen and (min-width: $smallMobileBp) and (max-width: $mobileBp) {
    .task-container{
        @include flex(column, center, space-between);
        width: 275px;
        height: 100px;
        padding: 10px;
    }
}
@media only screen and (max-width: $smallMobileBp) {
    .task-container{
        @include flex(column, center, space-between);
        width: 200px;
        height: 100px;
        padding: 10px;
    }
}