@import '../lib/var';
@import '../lib/mixins';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

*{
	font-family : 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing : border-box;
}

body{background-color: white;}

h1, h2, h3, p, span{color: white;}

button, input, select{
    outline: none;
    border: none;
    height: 48px;
}
button{width: 48px;}
button,select{cursor: pointer;}

.hidden{display: none;}
.show{display: block;}

option[value=HIGH]{color: $elementRed;}
option[value=MID]{color: $elementYellow;}
option[value=LOW]{color: $FontVanilla;}