@import '../../base/base';

.task-input{
    @include flex(row, center, center);
    margin-bottom: 100px;
    input{
        width: 400px;
        border-radius: 5px;
        padding: 5px;
        font-size: 20px;
    }
    select{
        border-radius: 5px;
        width: 150px;
        margin: 0 10px;
        font-size: 20px;
    }
}