@import '../../base/base';

.editModal{
    @include flex(column, center, center);
    border: 1px solid $border;
    background-color: $elementPurple;
    position: fixed;
    margin: auto;
    top: 20%;
    left: 35%;
    right: 35%;
    padding: 20px;
    min-width: 30%;
    min-height: 50%;
    opacity: 1;
    z-index: 2;
    >input{
        background-color: $elementPurple;
        color: white;
        border-bottom: 1px solid $bottomBorder;
        width: 300px;
        padding: 5px;
        margin: 0 0 20px 0;
        font-size: 20px;
    }
    select{
        background-color: $elementPurple;
        color: white;
        border-bottom: 1px solid $bottomBorder;
        width: 150px;
        margin: 0 0 20px 0;
        font-size: 20px;
    }
    >button:first-child{
        position: absolute;
        top: 0;
        right: 0;
    }
    >button:last-child{
        @include flex(initial, center, center);
        background-color: $elementOrange;
        color: white;
        width: 200px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
        transition-duration: 0.5s;
        &:hover{background-color: $elementYellow;}
    }
}
.openAnimation{
    animation-name: openModal;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
}
.closeAnimation{
    animation-name: closeModal;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
}

@keyframes openModal {
    0%   {top:0;}
    25%  {top:5%;}
    50%  {top:10%;}
    75%  {top:15%;}
    100% {top:20%;}
}
@keyframes closeModal {
    0%   {top:20%;}
    25%  {top:15%;}
    50%  {top:10%;}
    75%  {top:5%;}
    100% {top:0;}
}

@media only screen and (min-width: $tabletBp) and (max-width: $laptopBp) {
    .editModal{
        left: 30%;
        right: 30%;
    }
}
@media only screen and (min-width: $mobileBp) and (max-width: $tabletBp) {
    .editModal{
        left: 25%;
        right: 25%;
    }
}
@media only screen and (max-width: $mobileBp) {
    .editModal{
        left: 15%;
        right: 15%;
    }
}
@media only screen and (max-width: $smallMobileBp) {
    .editModal{
        >input{width: 225px;}
    }
}