@import '../../base/base';

.app{
    @include flex(column, center, center);
    border: 2px solid $border;
    padding: 50px;
    margin: auto;
    background-color: $originalPurple;
    border-radius: 20px;
    width: 75%;
}

@media only screen and (max-width: $smallMobileBp) {
    .app{width: 90%;}
}